<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="./public/css/media.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <p><u>Home</u></p>
                <p><u>Services</u></p>
                <p><u>About</u></p>
                <p><u>Contact</u></p>
            </div>
        </nav>
        <h1 class="titre1">Make simple and functional templates</h1>
        <p>Made with love by the fine folks at FreeHTML5.co</p>
    </header>
    <section>
        <div>
            <h3>Creative Design</h3>
            <p>Even the all-powerful Pointing
                has no control about the blind texts
                it is an almost unorthographic life One
                day however a small line of blind text by
                the name of Lorem Ipsum decided to leave for
                the far World of Grammar. The Big Oxmox advised
                her not to do so, because there were thousands of
                bad Commas, wild Question Marks and devious Semikoli
                , but the Little Blind Text didn’t listen.</p>
            <img src="./public/img/hero_1.jpg" alt="">
        </div>
    </section>
    <section>
        <h1 class="titre1">Keep it simple</h1>
        <p>Made with love by the fine folks at FreeHTML5.co</p>
    </section>
    <section>
        <div>
            <div>
                <i class="far fa-chess-knight"></i>
                <h4>Strategy</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
            <div>
                <i class="fab fa-internet-explorer"></i>
                <h4>Explore</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts.</p>
            </div>
        </div>
        <div>
            <i class="fal fa-drafting-compass"></i>
            <h4>Direction</h4>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
        </div>
        <div>
            <i class="fas fa-vial"></i>
            <h4>Expertise</h4>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts.</p>
        </div>
    </section>
    <section>
        <h1 class="titre1">Less is more</h1>
        <p>Made with love by the fine folks at FreeHTML5.co</p>
    </section>
    <section>
        <div>
            <h3>Made With Love</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
                One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World
                of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p>
        </div>
        <div>
            <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she
                reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown
                Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        </div>
    </section>
    <footer>
        <div>
            <div>
                <h4>About Us</h4>
                <p>She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains.</p>
            </div>
            <div>
                <h4>Quick Links</h4>
                <p>About Us</p>
                <p>Products</p>
                <p>Services</p>
                <p>Blog</p>
                <p>Contact</p>
            </div>
            <div>
                <h4>Follow Us</h4>
                <div>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
        <h4>© 2016 Free HTML5 Simple. All Rights Reserved.</h4>
    </footer>
</body>

</html>