<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="stylesheet" href="./public/css/media.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div>
                <p><u>Home</u></p>&nbsp;&nbsp;&nbsp;
                <p><u>Services</u></p>&nbsp;&nbsp;&nbsp;
                <p><u>About</u></p>&nbsp;&nbsp;&nbsp;
                <p><u>Contact</u></p>&nbsp;&nbsp;&nbsp;
            </div>
        </nav>
        <div class="div1">
            <div>
                <h1 class="titre1">Make simple and functional templates</h1>
                <p class="para1">Made with love by the fine folks at <u>FreeHTML5.co</u></p>
            </div>
        </div>
    </header>





    <section class="section2">
        <div class="div2">
            <div>
                <h3>Creative Design</h3>
                <p>Even the all-powerful Pointing
                    has no control <br> about the blind texts
                    it is an almost <br> unorthographic life One
                    day however a <br> small line of blind text by
                    the name of Lorem Ipsum <br> decided to leave for
                    the far World of Grammar. <br> The Big Oxmox advised
                    her not to do so,<br> because there were thousands of
                    bad Commas,<br> wild Question Marks and devious Semikoli
                    , but <br> the Little Blind Text didn’t listen.</p>
            </div>&nbsp&nbsp&nbsp&nbsp&nbsp
            <img src="./public/img/hero_1.jpg" class="image1" alt="">
        </div>
    </section>




    <section class="section3">
        <div class="div3">
            <div>
                <h1 class="titre1">Keep it simple</h1>
                <p class="para1">Made with love by the fine folks at FreeHTML5.co<p>
            </div>

        </div>
    </section>



    <section class="section4">
        <div class="div4">
            <div class="div44">
                <i class="icon far fa-chess-knight"></i>
                <div class="explore">
                    <h4>Strategy</h4>
                    <p>Far far away, behind the word mountains,<br> far from the countries Vokalia and <br>Consonantia,
                        there
                        live the blind texts.</p>
                </div>
            </div>
            <div class="div44">
                <i class="icon far fa-browser"></i>
                <div class="explore">
                    <h4>Explore</h4>
                    <p>Far far away, behind the word mountains,<br> far from the countries Vokalia and <br> Consonantia,
                        there
                        live the blind texts.</p>
                </div>
            </div>
            <div class="div44">
                <i class="icon fal fa-drafting-compass"></i>
                <div class="explore">
                    <h4>Direction</h4>
                    <p>Far far away, behind the word mountains,<br> far from the countries Vokalia and <br> Consonantia,
                        there live
                        the blind texts.</p>
                </div>
            </div>
            <div class="div44">
                <i class="icon fas fa-vial"></i>
                <div class="explore">
                    <h4>Expertise</h4>
                    <p>Far far away, behind the word mountains,<br> far from the countries Vokalia and <br> Consonantia,
                        there live
                        the blind texts.</p>
                </div>
            </div>
        </div>
    </section>




    <section class="section5">
        <h1 class="titre1">Less is more</h1>
        <p class="para1">Made with love by the fine folks at FreeHTML5.co</p>
    </section>
    <section class="section6">
        <div class="div6">
            <h2>Made With Love</h2>
            <p>Even the all-powerful Pointing has no control about the <br> blind texts it is an almost unorthographic
                life
                One day <br> however a small line of blind text by the name of Lorem <br> Ipsum decided to leave for the
                far World
                of Grammar. The <br> Big Oxmox advised her not to do so, because there were <br> thousands of bad
                Commas, wild
                Question Marks and <br> devious Semikoli, but the Little Blind Text didn’t listen.</p>
        </div>
        <div class="div6">
            <h2>.</h2>
            <p>She packed her seven versalia, put her initial into the belt <br> and made herself on the way. When she
                reached the first <br> hills of the Italic Mountains, she had a last view back on <br> the skyline of
                her hometown
                Bookmarksgrove, the <br> headline of Alphabet Village and the subline of her own <br> road, the Line
                Lane.</p>
        </div>
    </section>




    <footer>
        <div class="foot">
            <div>
                <h4>About Us</h4>
                <p>She packed her seven versalia, put her <br> initial into the belt and made herself on <br> the way.
                    When she
                    reached the first hills <br> of the Italic Mountains.</p>
            </div>
            <div>
                <h4>Quick Links</h4>
                <p>About Us</p>
                <p>Products</p>
                <p>Services</p>
                <p>Blog</p>
                <p>Contact</p>
            </div>
            <div>
                <h4>Follow Us</h4>
                <div class="logo">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram-square"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
        <h4>© 2016 Free HTML5 Simple. All Rights Reserved.</h4>
    </footer>
</body>

</html>